<div class="schedule__row">
    <div class="schedule__col schedule__col--wide" data-label="Название">
        <a href="{{video}}" class="schedule__link">{{title}}</a>
    </div>
    <div class="schedule__col schedule__col--medium" data-label="Школа">
        {{#each school as |school-name|}}
              <span>{{school-name}}</span>
        {{/each}}
    </div>
    <div class="schedule__col" data-label="Учитель">
        {{#each teacher as |teach|}}
              <span class="schedule__teacher">{{teach}}</span>
        {{/each}}
    </div>
    <div class="schedule__col" data-label="Аудитория">{{classroom}}</div>
    <div class="schedule__col" data-label="Дата">
        {{date}}
    </div>
</div>